body {
	background-image: url("http://chesterspirit.com/wp-content/uploads/2016/02/Plain-Grey-Background.jpg");
}

a {
	text-decoration: none !important;
}

.container2 {
	/*position: relative;*/
}

.Jumbo {
	background-image: url("http://static.panoramio.com/photos/large/11458460.jpg");
  	height: 360px;
  	position: absolute;
    left: 50%;
    top: 40%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  	width: 1000px;
  	background-position: center;
  	background-repeat: no-repeat;
	text-align: center;
	border: 2px solid #FFF;
  	border-radius: 10px;
  	color: #FFF !important;
  	vertical-align: center !important;
  	margin-top: 5px;
}

.Outline {
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.Head {
  background-image: url("https://www.xmple.com/wallpaper/gradient-linear-blue-orange-2560x1700-c2-00bfff-ff8c00-a-315-f-14.svg");
  background-size: cover;
}

.BodyP {
	/*background-image: url("https://image.freepik.com/free-photo/blue-background_1160-851.jpg");
	background-size: cover;
	background-position: left;*/
	color: #FFF;
	margin-left: 40px;
}

.Intro {
	margin-left: 20px;
	margin-right: 20px;
	position: static;
	margin-top: 400px;
}

.Foot {
	margin-top: none;
	margin-bottom: none;
}

.mentors {
	margin: 60px auto;
  padding: 10px 0px 0px 0px;
  width: 90%;
  border: 2px solid #FFF;
  border-radius: 10px;
  color: #FFF;
}

.MentorDescription {
	display: inline-block;
  width: 70%;
  color: #FFF;
}

.MentorPic {
	float: left;
}

.MentorIntro {
	text-align: -webkit-center !important;
}

.jumbotron2 {
	background-image: url("https://gwinnett.uga.edu/sites/default/files/images/0094cassiewrightphoto.jpg");
  	height: 200px;
  	position: absolute;
    left: 50%;
    top: 30%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    /*-moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
  	width: 90%;
  	background-position: center;
  	background-repeat: no-repeat;
	text-align: center;
	border: 2px solid #FFF;
  	border-radius: 10px;
  	color: #FFF !important;
  	vertical-align: center !important;
  	margin-top: none;
}

.ProgramTitle {
	vertical-align: center !important;
	/*margin: 60px auto;*/
	text-align: center;
}

.Program {
	margin-top: 250px;
	margin-left: 55px;
	margin-right: 45px;
	width: 92%;
	vertical-align: center !important;
	padding-left: 10px;
	/*margin: 60px auto;*/
}
